body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: midnightblue;
  padding: 0;
  margin-top: 0;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: white;
}

button {
  outline: none;
  padding: 12px;
  background: slateblue;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input,
textarea {
  padding: 12px;
  outline: none;
  border-radius: 6px;
  border: 1px solid #e3e3e3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 16px;
}

span.bold-text {
  font-weight: bold;
}

textarea {
  width: 92% !important;
}
